@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --clr-light: white;
  --clr-med: #d7dfe2;
  --clr-dark: #90a4ae;
  --clr-dark-heavy: #546e7a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #d7dfe2;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  height: 66px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  border: none;
  outline: none;
  background: var(--clr-med);
  box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px var(--clr-dark);
  font-family: Montserrat, sans-serif;
  color: var(--clr-dark-heavy);
}

.item {
  width: 150px;
  height: 66px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  border: none;
  outline: none;
  background: var(--clr-med);
  box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px var(--clr-dark);
  font-family: Montserrat, sans-serif;
  color: var(--clr-dark-heavy);
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.hide {
  display: none;
}

.hold {
  border: none;
  outline: none;
  border-radius: 20px;
  background: var(--clr-med);
  box-shadow:
    inset -5px -5px 10px var(--clr-light), inset 5px 5px 10px var(--clr-dark);
  font-family: Montserrat, sans-serif;
  color: var(--clr-dark-heavy);
}

.hovered {
  border-top: 2px solid white ;

}